@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFB;
  --foreground: #171717;
  --backgroudB: #1E2631;
  --bgContainerLogin: #FFFFFF;
  --btnColor: #2589F5;
  --btnColorHover: #1e40af;
  --btnColorFocus: #1d4ed8;
  --borderColor: #374151;
  --inputColor: #FFFFFF;
  --textColor: #000
  --sideBarColor: #F4F5F7;
  --borderRadius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    /* --background: #283845; */
    --foreground: #ededed;
    --backgroudB: #1E2631;
    --bgContainerLogin: #1F2937;
    --btnColor: #2563EB;
    --btnColorHover: #1e3a8a;
    --btnColorFocus: #152961;
    --borderColor: #374151;
    --inputColor: #374151;
    /* --inputColor: #3A4D5B; */
    --textColor: #d3d3d3;
    --sideBarColor: #1E2631;
    /* --sideBarColor: #20303C; */
    --sideBarColorHover: #3c495c;
    --borderRadius: 8px;
  }

  .container--login_input {
    border: none;
    /* Removendo a borda no tema dark */
  }

  .container--login_input:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px rgb(135, 131, 190);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container--login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: var(--backgroudB);
}

.container--login--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 550px;
  background: var(--bgContainerLogin);
  border-radius: 20px;
  border: 1px solid var(--borderColor);
  /* margin: 0 auto; */
}

.container--header {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  /* margin-right: 75px; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.container--h1 {
  margin-top: 20px;
  font-weight: bold;
  font-size: 26px;
  color: var(--textColor);
}

.container--span {
  margin-bottom: 20px;
  color: var(--textColor);
}

.h1--login {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.p--login {
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0;
}

.container--login_form-group {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
}

.container--login_input {
  width: 450px;
  height: 40px;
  color: var(--textColor);
  background-color: var(--inputColor);
  margin-bottom: 20px;
  padding-left: 10px;
  transition: background-color 0.3s ease;
  border-radius: var(--borderRadius);
  border: 1px solid black;
  /* outline: none !important; */
}

.container--login_input::placeholder {
  color: #9CA3AF;
}

.container--login_input:focus {
  outline: none;
  /* box-shadow: inset 0 0 0 2px rgb(135, 131, 190); */
}

.btnLogin {
  width: 450px;
  height: 40px;
  background-color: var(--btnColor);
  border-radius: var(--borderRadius);
  transition: background-color 0.2s ease;
}

.btnLogin:hover {
  background-color: var(--btnColorHover);
}

.btnLogin:focus {
  outline: none;
  box-shadow: 0 0 5px var(--btnColorFocus);
}

.main-container {
  display: flex;
  height: 100%;
}

.page-brand {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: var(--textColor) !important;
}

.text {
  color: var(--textColor) !important;
  font-size: 16px;
}

.sidebarComponent {
  background-color: var(--sideBarColor);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 260px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  overflow-y: auto
}

.sidebarComponent.collapsed {
  width: 56px;
}

.siderbarComponent--nav_container {
  margin-top: 20px
}

.siderbarComponent--nav_container--nav-item {
  color: var(--textColor) !important;
}

.siderbarComponent--nav_container--nav-item:hover {
  background-color: var(--sideBarColorHover) !important;
}

.siderbarComponent--nav_container--nav-item > a {
  color: var(--textColor) !important;
}

.siderbarComponent--nav_container--nav-item > a:hover {
  background-color: var(--sideBarColorHover) !important;
}

.sidebar--container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 75px;
}

.content {
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.content.shifted {
  margin-left: 260px;
}

.container--line-chart {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.line-chart {
  width: 90%;
}

.tableProviders {
  height: 100vh !important;
}

.form-provider {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  /* min-width: 500px; */
}

.inputForm {
  /* width: 492px !important; */
  width: 730px !important;
  /* background-color: var(--inputColor) !important;
  border-color: #5B7080 !important; */
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Alinha os botões à esquerda */
  gap: 10px; /* Adiciona um espaçamento entre os botões */
  margin-top: 10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background: var(--sideBarColor);
  border-radius: var(--borderRadius);
  color: var(--textColor);
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s ease;
}

.btn:hover {
  background: var(--sideBarColorHover);
}

.statusProvider {
  text-transform: capitalize;
}

/* .content--container {
  width: 100vw;
  height: 100vh;
  background-color: #111827;
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100vh;
  /* ela fechada tem 56px 
  background-color: red;
} */

@media (max-width: 1600) {
  .btn-container {
    margin-top: 50px;
  }
}

@media (max-width: 1366) {
  .line-chart {
    width: 50% !important;
  }
}